.blog {
  text-align: center;
  padding: 50px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0 10px;
}

.blogPost {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  overflow: hidden;
  background-color: #1a1919;
  box-shadow: .5px  .5px 25px rgba(0, 0, 0, 0.25);

}

.imageContainer {
  height: 200px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.category {
  background-color: #442d02;
  padding: 5px 10px;
  border-radius: 10px;
  color: #df9306;
  display: inline-block;
  margin-bottom: 10px;
}
.excerpt{
  color: rgb(207, 204, 204);
}

.meta {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 15px;
}