.sidebar {
  background-color: #111111; /* Example background color */
  padding: 10px;
  box-shadow: 0.9px .4px rgba(71, 70, 70, 0.2);
  width: 20rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  overflow-y: auto;
  left: 0;
}

@media (max-width:990px) {
  .sidebar{
    transform: translateX(-20rem);
    transition: all .3s ease;
    /* display: none; */
  }
  .sidebarOpen {
  transform: translateX(0rem); /* Visible position */
}

.sidebarClosed {
  transform: translateX(-20rem); /* Hidden position */
}
  .baricon{
  font-size: 30px;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  cursor: pointer;
}

}
.profile {
  text-align: center;
  margin: 20px 0;
}
.imgC{
  position: relative;
}
.imgC1{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid #5c5b5a;
  background-color: black;
  height: 55px;
  box-shadow: .4px .4px 45px rgba(204, 99, 13, 0.2);

}
.imgC::before{
  content: "";
  position: absolute;
  right: 100px;
  box-shadow: .4px .4px 45px rgb(0,0,0,0.2);
  z-index: 1;
  bottom: 30px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: rgb(152, 218, 54);
  border: 1px solid white;
}
.profile img {
  width: 100px;
  border-radius: 50%;
}
.profile h2 {
  color: white;
  margin: 5px;
}
.profile p {
  color: #df9306;
  font-size: 13px;
  padding: 2px 8px;
  background-color: rgb(73, 52, 13);
  display: inline;
  border-radius: 30px;
  margin: 20px 0;
}
.navigation {
  /* background-color: #f0f0f0; */
  padding: 20px 0;
  
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin-left: 0px;
}

.navigation li {
  margin-bottom: 15px;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ddd5d5;
  padding: 10px;
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #111111;
}

.icon {
  margin-right: 20px;
  color: #df9306;
}
.contact p {
  margin-bottom: 5px;
  color: white;
}
.contact p:nth-child(2) {
  color: #ccc;
  font-size: 14px;
}
.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.skills {
  margin-top: 20px;
}
